body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
    ***/
    
    .content {
        font-size: 14px;
    }

    .theme.dark{
        background: black;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    
}
