body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   
    background-color: black;
    .content {
        font-size: 14px;
    }
   ***/
   
/* old fonts ==  ==
Font styles

  Preview mode and UI */

  --text:"Avenir",sans-serif;
  
  /* Editor mode */

  --text-editor:"Avenir",sans-serif;
  
  /* Code */

  --font-monospace:Inconsolata,"Suisse Int'l Mono","NanumGothicCoding",monospace;

  --editor-font-size: 1em;
 /* Sizes, weights, padding */

--font-normal:16px;
--font-small:13px;
--font-smaller:11px;
--font-smallest:10px;

--h1:2.5em;
--h2:1em;
--h3:1em;
--h4:1em;
--h5:0.9em;
--h6:0.7em;

--h1-weight:300;
--h2-weight:400;
--h3-weight:500;
--h4-weight:500;
--h5-weight:500;
--h6-weight:300;

--h1-color:var(--interactive-accent);
--h2-color:var(--interactive-accent);
--h3-color:var(--interactive-accent);
--h4-color:var(--interactive-accent);
--h5-color:var(--interactive-accent);
--h6-color:var(--interactive-accent);

--normal-weight:250;   /* Switch to 300 if you want thinner default text */
--bold-weight:600;     /* Switch to 700 if you want thicker bold text */
--line-width:40rem;    /* Maximum characters per line */
--line-height:1;
--max-width:85%;       /* Amount of padding around the text, use 90% for narrower padding */
--nested-padding:3.5%; /* Amount of padding for quotes and transclusions */
--icon-muted:0.4;
--border-width:1px;
--border-width-alt:1px;
--input-height:36px;


--yellow:#ffb930;
--green:#b4d273;
--orange:#e87d3e;
--purple:#9e86c8;
--pink:#b05279;
--blue:#6c99bb;
--interactive-accent:#6c99bb

}

:is(a.external-link, .cm-link .cm-underline) {
font-size: var(--font-text-size);
color: var(--yellow) !important;
}

/* Headings and fonts */
h1,h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility !important;
  font-feature-settings: "kern"!important;
}
body, input, button, 
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian {
  font-family:var(--text)!important;
  font-size:var(--font-normal);
  font-weight:var(--normal-weight);
  line-height:var(--line-height);
  letter-spacing: 0.05em;
  -webkit-font-smoothing:subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
}
.markdown-source-view,
.cm-s-obsidian .cm-formatting-hashtag, 
.cm-s-obsidian {
  line-height:var(--line-height);
  font-family:var(--text-editor) !important;
}


.cm-formatting-header {
  color:var(--text-faint) !important;
  font-weight:var(--normal-weight) !important;
}
.view-header-title,
.file-embed-title,
.markdown-embed-title {
  letter-spacing:-0.01em;
  text-align:left;
  font-size:0.85em;
  font-weight:var(--normal-weight);
  color: var(--interactive-accent);
  padding-top: 1px;
  padding-right: 0px!important;
}
.markdown-embed {
  background-color: var(--background-modifier-box-shadow);
  border-top: 2px;
  border-top-color: #6c6c6c;
  margin-top: 7px!important;
}

}
