body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
    ***/
    
    
    font-family: 'Times', sans-serif;
    color: blue;
    --text-accent: blue;
    
    .content {
        font-size: 14px;
        
    }
    
}
